<!--
Bachelor of Software Engineering
Media Design School
Auckland
New Zealand

(c) 2022 Media Design School

File Name: footer.ejs
Description: 
Author: Nerys Thamm
Mail: nerysthamm@gmail.com
-->

<footer class="footer">
    <p>Footer Text</p>
  </footer>
</body>
</html>