<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
    margin-bottom: 0;
    border-radius: 0;
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
    /* Set gray background color and 100% height */
    .sidenav {
    padding-top: 20px;
    background-color: #cbb;
    height: 100%;
    }
    /* Set black background color, white text and some padding */
    footer {
    background-color: #555;
    color: white;
    padding: 15px;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
    .sidenav {
    height: 100%;
    padding: 15px;
    }
    .row.content {height:auto;}
    }
    .jumbotron {
    background-color: #AA189E;
    color: #fff;
    padding: 10px 25px;
    font-family: Montserrat, sans-serif;
    border-radius: 0px;
    }
    .well-sm {
    background-color: #ccc;
    text-align: center;
    color: #666
    }
    .carousel {
    width: 100%;
    height: auto;
    }
    body{background:#eee}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 100%}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}
    .sticky-offset {
    top: 70px;
    }
    .login-page { 
      background: #d400ff;
      background: linear-gradient(to right, #a200ff, #ff0062);
    }
    #myCarousel{
      margin-top: -40px;
    }
    .darkened-image {
      filter:brightness(0.7);
    }

    
    
  </style>
</head>
<body>