
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a class="navbar-brand" href="#">
    <img src="https://cdn3.iconfinder.com/data/icons/gradient-circle/36/2018-512.png" width="30" height="30" alt="logo">
    TradeYou
  </a>
  <span class="navbar-text">
    Hey, there!
  </span>
  <ul class="navbar-nav">
    <li class="nav-item"><a href="/listings">Browse</a></li>
    <% if (loggedin) { %>
    <li class="nav-item" style="margin-left: auto;"><a class="nav-link" href="/profile"><span class="glyphicon glyphicon-user"></span>  <%= userid %></a></li>
    <li class="nav-item" style="margin-left: auto;"><a class="nav-link" href="/logout"><span class="glyphicon glyphicon-log-out"></span>  Log Out</a></li>
    <% } else { %>
    <li class="nav-item" style="margin-left: auto;"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span>  Log In</a></li>
    <li class="nav-item" style="margin-left: auto;"><a class="nav-link" href="/signup"><span class="glyphicon glyphicon-certificate"></span>  Get Started</a></li>
    <% } %>
  </ul>
</nav>
